#details a:hover{
    transform: scale(1.05);
    transition: transform 0.8s ease;
    filter: brightness(90%);
}
#details{
    z-index: 1;
    position: relative;
}
#details h1,#details h3,#details h4,#details p{
    margin: 20px 0px;
}
#details .intro{
    z-index: 1;
    position: relative;
    padding: 30px 100px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
#details .with-background{
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#details .with-background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 0; /* Behind the content */
    border-radius: 10px;
}
#details .intro .description{
    flex: 1 1 60%;
    margin-left: 30px;
    z-index: 1;
}
#details .intro .description .style-button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 10px;
}
#details .intro .description .style-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}
#details .intro .description .style-button:hover {
    background-color: #ff4b4b;
    color: #ffffff;
}
#details .intro .poster-container {
    max-width: 330px;
    min-width: 200px;
    flex: 1 1 30%;
    height: auto;
    margin: auto 0px;
    margin-right: 30px;
    display: inline-block;
    z-index: 1;
}
#details .intro .poster-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#details .toggle-button-container{
    margin:10px 0px;
    margin-top: 20px;
}