.toggle-button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.toggle-button{
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.toggle-button:hover{
    filter: brightness(90%);
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

.selected{
    background-color: #fa4949;
}